<!DOCTYPE html>
<html lang="en">
<head>
    <script src="javas.js"></script>
    <link rel = "stylesheet"
   type = "text/css"
   href = "style2.css"  >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <ul id="myUL">
  <li><span class="caret">Beverages</span>
    <ul class="nested">
      <li>Water</li>
      <li>Coffee</li>
      <li><span class="caret">Tea</span>
        <ul class="nested">
          <li>Black Tea</li>
          <li>White Tea</li>
          <li><span class="caret">Green Tea</span>
            <ul class="nested">
              <li>Sencha</li>
              <li>Gyokuro</li>
              <li>Matcha</li>
              <li>Pi Lo Chun</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</body>
</html>