
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="scri.js"></script>
    <link rel = "stylesheet"
   type = "text/css"
   href = " style.css"  >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="background-color:lightblue; font-size: 50px" > <center>ANKU ERP System</center> </h1>
<div>
 <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="opentab(event, 'Admin')">Admin</button>
  <button class="tablinks" onclick="opentab(event, 'recruitment')">Recruitment</button>
  <button class="tablinks" onclick="opentab(event, 'Leave')">Leave</button>
    <button class="tablinks" onclick="opentab(event, 'Dashboard')">Dashboard</button>
  <button class="tablinks" onclick="opentab(event, 'myinfo')">My info</button>
  <button class="tablinks" onclick="opentab(event, 'Directory')">Directory</button>
</div>

<!-- Tab content -->
<div id="myinfo" class="tabcontent">
  <h3>Myinfo</h3>
  <p>Employee profile updated here.</p>
</div>

<div id="recruitment" class="tabcontent">
  <h3>recruitment</h3>
  <p>recruitment process taken place here</p>
</div>

<div id="Leave" class="tabcontent">
  <h3>Leave</h3>
  <p>leave comes under here</p>
</div>
<div id="Admin" class="tabcontent">
  <h3>Admin</h3>
    <p> The admin parts</p></div>
</div>
<div id="Admin" class="tabcontent">
  <h3>Admin</h3>
  <p> The admin parts</p>
</div>
<div id="Dashboard" class="tabcontent">
  <h3>Dashboard</h3>
    <p> The dash board place</p></div>
</div>
<div id="Directory" class="tabcontent">
  <h3>Directory</h3>
    <p> The directory parts</p></div>
</div>
</body>

</html>